[2015-02-11 05:02] danieldahan opened #46 "Determine advantage of converting RedBlackTree colour to bitset<1>"
Check size differences and efficiency of converting colour flag to a bitset.

[2015-02-11 05:37] danieldahan commented on #46
std::cout << "bool " << sizeof(bool) << " bitset " << sizeof(std::bitset<1>) << std::endl;

output: bool 1 bitset 8

[2015-02-11 05:38] danieldahan commented on #46
Leaving as bool as memory footprint is smaller.

[2015-02-11 05:38] #46 closed

[2015-02-11 05:40] danieldahan opened #47 "Compare string keys to 3 key group (nodeClass, type, id) performance and memory."
This should include some examples and benchmarks.

[2015-02-11 16:10] daniel-jonathan opened #1 "Fix XCTest so it runs locally"

[2015-02-12 01:41] #1 closed, assigned to nobody

[2015-02-12 05:16] daniel-jonathan opened #4 "Add property handling for Nodes"

[2015-02-12 12:51] #4 closed, assigned to daniel-jonathan

[2015-02-12 14:38] daniel-jonathan opened #7 "Add Actions / Bonds and refactor base code"

[2015-02-15 21:01] #7 closed, assigned to nobody

[2015-02-15 21:40] daniel-jonathan opened #10 "Add group mapping for Entity and Action Classes"

[2015-02-16 20:01] #10 closed, assigned to daniel-jonathan

[2015-02-16 20:01] daniel-jonathan opened #13 "Action complete methods for Subjects and Objects"

[2015-02-17 15:41] #13 closed, assigned to nobody

[2015-02-17 15:45] daniel-jonathan opened #17 "Create inverse relationship from Entity to Action"

[2015-02-18 03:19] #17 closed, assigned to daniel-jonathan

[2015-02-18 03:19] daniel-jonathan opened #18 "Add Property values to a Set for both Entity and Action"

[2015-02-18 19:39] #18 closed, assigned to nobody

[2015-02-19 14:21] daniel-jonathan opened #23 "Add search support through Graph"

[2015-02-19 16:56] #23 closed, assigned to nobody

[2015-02-19 18:33] daniel-jonathan opened #24 "Add Bond Nodes to Kit"

[2015-02-19 19:37] daniel-jonathan commented on #24
- This will set a unique relationship between a single subject and object.
- This should include tests, and all search and watch functionality.

[2015-02-21 17:14] #24 closed, assigned to daniel-jonathan

[2015-02-22 21:23] danieldahan opened #52 "Add Bond Support"
This will include subject and object relationship matching.

[2015-02-22 22:10] #52 closed

[2015-02-22 22:45] danieldahan opened #53 "Add actions property for Entity Nodes"
This allows an entity to fetch all the Action Nodes that it is a part of. This will most likely be done in a Cluster to provide granular organization.

[2015-02-22 22:45] danieldahan opened #54 "Add bonds property for Entity Nodes"
This allows an entity to fetch all the Bond Nodes that it is a part of. This will most likely be done in a Cluster to provide granular organization.

[2015-02-24 03:58] danieldahan commented on #54
This should also handle deletions when deleting an Entity. For example, when an Entity is deleted, it should remove the Bonds associated with it as well from both subject and object perspectives.

[2015-02-24 03:59] danieldahan commented on #53
This should also handle deletions when deleting an Entity. For example, when an Entity is deleted, it should remove the Actions associated with it as well from both subject and object perspectives. Possible, if the Action only has the Entity associated with it, then that Action should be removed too.

[2015-02-24 05:32] #54 closed

[2015-02-24 05:48] danieldahan opened #58 "Create Read-Only structures."
This should be initially implemented against Bond and Action reverse index mapping for Entity Nodes.

[2015-02-24 05:50] danieldahan opened #60 "Create Reverse Property mapping from Graph to Nodes."

[2015-02-25 14:57] danieldahan opened #61 "Handle Subject and Object deletions for Bonds"
This should allow the user to type:

delete bond.subject

or bond.subject = null / undefined

[2015-02-25 18:14] #61 closed

[2015-02-25 18:15] danieldahan opened #65 "Add hash property support"
This allows for a hash to be retrieved that uniquely identifies the object in its collection type.

[2015-02-27 19:18] #65 closed

[2015-02-27 19:59] danieldahan commented on #66
This will be done through a publisher / subscriber model, and changes in Redis will map across to listening Graphs.

[2015-02-28 23:44] danieldahan commented on #55
done in issue-66

[2015-03-03 17:34] danieldahan commented on #66
Not using Redis, writing my own file storage.

[2015-03-04 15:10] danieldahan commented on #67
This will be done using libuv

[2015-03-06 14:39] #47 closed

[2015-03-07 21:24] #53 closed

[2015-03-10 16:17] adamdahan opened #32 "Xcode 6.2 and iOS 8.2 compatibility"
Apple just released their new public versions of Xcode and iOS. Can you please update your library / pod to support the latest release. Thanks.

[2015-03-10 17:54] daniel-jonathan commented on #32
yes, was there a specific issue that you found before I dive in?

[2015-03-10 19:11] daniel-jonathan commented on #32
no issues found :) enjoy!

[2015-03-10 19:11] #32 closed, assigned to nobody

[2015-03-15 13:32] danieldahan commented on #70
This should allow management of data to be done in the Hub object, and factored out of Graph

[2015-03-20 00:08] daniel-jonathan opened #33 "Enhance Search"
- Allow Type to property and group values
- order by values

[2015-03-23 17:04] #33 closed, assigned to nobody

[2015-03-23 17:04] daniel-jonathan opened #34 "Cache property and group values"
This will be a performance gain. :)

[2015-03-24 21:45] adamdahan opened #35 "Type 'GKEntity' does not conform to protocol 'SequenceType'"
func logEntity(entity: GKEntity) {
        for (key, value) in entity {
            println("Key: (key) Value: (value)")
        }
}

[2015-03-24 21:46] adamdahan commented on #35
run that ^

[2015-03-26 18:06] daniel-jonathan commented on #35
looking at this now

[2015-04-02 22:51] #34 closed, assigned to nobody

[2015-04-02 22:51] #35 closed, assigned to nobody

[2015-04-06 03:59] daniel-jonathan opened #36 "Add CreatedDate to println description for Entity, Action, and Bond"

[2015-04-07 02:57] daniel-jonathan opened #37 "Add boolean value search or possibly allow AnyObject search"

[2015-04-09 18:17] adamdahan opened #38 "Update your read me"

[2015-04-09 18:17] adamdahan opened #39 "Very unclear which .xcodeproj you should be using"

[2015-04-09 18:19] adamdahan opened #40 "Should probably change the name of this repo..."

[2015-04-09 23:00] #39 closed, assigned to nobody

[2015-04-09 23:00] #40 closed, assigned to nobody

[2015-04-09 23:10] #36 closed, assigned to daniel-jonathan

[2015-04-09 23:10] #38 closed, assigned to nobody

[2015-06-07 22:20] daniel-jonathan opened #42 "Update GraphKit to use Generic Programming"

[2015-06-12 15:45] #42 closed, assigned to nobody

[2015-06-12 15:45] #37 closed, assigned to daniel-jonathan

[2015-06-12 15:46] daniel-jonathan opened #43 "Update to GKGraphKit 3 with GKAlgoKit Support"

[2015-06-13 16:32] #43 closed, assigned to daniel-jonathan

[2015-06-15 03:06] daniel-jonathan opened #45 "Document GK3 Data Structures"

[2015-06-15 16:19] #45 closed, assigned to daniel-jonathan

[2015-07-11 20:51] daniel-jonathan opened #55 "Add OrderedSet and OrderedMultiSet and Initial Probability"
This should also be used with groups

[2015-07-13 01:49] #55 closed, assigned to daniel-jonathan

[2015-07-13 01:50] daniel-jonathan opened #57 "Add Comparable to OrderedSet, OrderedMultiSet, Tree, and math operator operations."

[2015-07-13 16:41] #57 closed, assigned to nobody

[2015-07-13 23:48] daniel-jonathan opened #59 "Format code documentation for parser and tooltips"

[2015-07-14 05:31] #59 closed, assigned to daniel-jonathan

[2015-07-14 22:12] ghost opened #63 "Expand code parser to include multiple templates"

[2015-07-15 22:41] #63 closed, assigned to nobody

[2015-07-16 04:42] daniel-jonathan opened #64 "Update boolean property checks to use "is" format."

[2015-07-16 21:29] #64 closed, assigned to daniel-jonathan

[2015-07-17 18:59] daniel-jonathan opened #66 "Format documentation to new swift xcode standards"

[2015-07-17 22:37] #66 closed, assigned to nobody

[2015-07-18 18:59] daniel-jonathan opened #67 "Add OrderedDictionary and OrderedMultiDictionary data structure"
This will replace the return Tree and MultiTree structure in Graph, Action, Bond, and Entity.

[2015-07-18 23:42] #67 closed, assigned to daniel-jonathan

[2015-07-19 15:32] daniel-jonathan opened #68 "Add keys and values property to Ordered*Dictionary"

[2015-07-24 12:53] #68 closed, assigned to daniel-jonathan

[2015-07-24 12:56] daniel-jonathan opened #69 "Add network interface - Bridge"

[2015-07-24 23:58] #69 closed, assigned to daniel-jonathan

[2015-07-24 23:59] daniel-jonathan opened #70 "Add post method to Session"

[2015-07-25 00:46] #70 closed, assigned to daniel-jonathan

[2015-07-25 15:23] daniel-jonathan opened #71 "Add Reachability to Network"

[2015-07-25 19:19] #71 closed, assigned to daniel-jonathan

[2015-08-03 02:52] daniel-jonathan opened #72 "Add exclusive to OrderedSet and OrderedMultiSet"

[2015-08-04 22:14] daniel-jonathan opened #73 "Add indexOf to OrderedSet and OrderedMultiSet"

[2015-08-07 06:02] #72 closed, assigned to daniel-jonathan

[2015-08-07 06:32] #58 closed

[2015-08-07 06:32] #60 closed

[2015-08-08 19:11] #73 closed, assigned to daniel-jonathan

[2015-08-09 16:33] daniel-jonathan opened #74 "Update removeValueForKey to return a structure of removed values."

[2015-08-09 18:58] #74 closed, assigned to daniel-jonathan

[2015-09-03 17:59] NinjaIshere opened #79 "Maybe a bug, But more likely something im doing wrong"
[code]

I keep getting " fatal error: unexpectedly found nil while unwrapping an Optional value
(lldb) "

Seems to happen after hitting this line of code in my project
var randomWordFromWords = graph.search(Entity: "Word")[randomNumber()]

<img width="1415" alt="screen shot 2015-09-03 at 10 59 02 am" src="https://cloud.githubusercontent.com/assets/8978522/9666429/d26d11d2-522a-11e5-9217-9a66230a95

[2015-09-03 18:01] daniel-jonathan commented on #79
can you post the randomNumber() code? and the code that surrounds that logic.

[2015-09-03 18:06] NinjaIshere commented on #79
Here is the randonNumber() code and the rest of the code around it

//
//  WordGenerator.swift
//  RapWordGenerator
//
//  Created by Mind Ooze on 8/25/15.
//  Copyright (c) 2015 NinjaSkillz. All rights reserved.
//

import UIKit
import GraphKit

class WordGenerator: NSObject

{
    let graph: Graph = Graph()

[code]

}

[2015-09-03 19:38] daniel-jonathan commented on #79
So it looks like there is a logic issue.

[code]

call, you are always checking for the last word, and if one exists, you don't actually save any new ones.

Once you populate a single Word Entity, the graph.search(Entity: "Word").last call will return a value. This will stop you from ever inserting more than one word.

What you should do, is check if a Word Entity with the property value exists.

[2015-09-03 21:10] NinjaIshere commented on #79
Awesome thanks, i will make the changes and let you know.

[2015-09-03 21:14] daniel-jonathan commented on #79
Cool, I will close the issue, and you may reopen it if the problem persist. :)

[2015-09-03 21:14] #79 closed, assigned to daniel-jonathan

[2015-09-15 15:11] daniel-jonathan opened #80 "Write query engine for Graph."

[2015-09-15 15:12] daniel-jonathan opened #81 "Refine Entity, Action, Bond to reusable components."

[2015-09-15 15:12] daniel-jonathan opened #82 "Update README for GK4."

[2015-09-15 15:16] daniel-jonathan opened #83 "Add named graphs."

[2015-09-15 23:25] #81 closed, assigned to daniel-jonathan

[2015-09-19 18:09] #80 closed, assigned to daniel-jonathan

[2015-09-20 15:56] #83 closed, assigned to daniel-jonathan

[2015-09-20 15:58] daniel-jonathan opened #85 "Add ordering to result set in graph search."

[2015-09-22 21:27] daniel-jonathan opened #86 "Update intersectInPlace to not use intersect method"

[2015-09-22 21:27] daniel-jonathan opened #87 "Add convenience dictionary method to Sorted*Dictionary"

[2015-09-23 14:17] daniel-jonathan commented on #85
Note\* this will return an OrderedDictionary, where the keys will be the desired ordered key, and the value will be the Entity, Action, or Bond.

[2015-09-24 09:17] daniel-jonathan opened #88 "Add reverse index for ordered Structures"

[2015-10-04 20:47] #82 closed, assigned to daniel-jonathan

[2015-10-12 00:54] between40and2 opened #89 "Protocol-oriented expected"
Great job. However, the interface with so many classes are a bit hard to understand the structure and relationship, for beginners.

Also from match-perspective, someone, like myself, expect a Swift framework that present Graph with its match abstraction, and focus on graph math operations and algorithms. Rather than, this seems to me more CoreData/storage focused.

Could you please consider this a

[2015-10-12 01:34] daniel-jonathan commented on #89
Hey :), glad you are exploring GraphKit. So GraphKit is a few things, and storage is one of them. The idea is that if you do not need to think of storage, you are able to focus on writing algorithms. So here is how GraphKit breaks down:
1. Entity, Action, Bond are used with Graph to create intricate relationships that are otherwise challenging to model.
2. Structures are available, including List,

[2015-10-12 16:48] daniel-jonathan commented on #89
I am closing this issue, as I don't see a direct question. Please feel free to create an issue with a direct fix or addition you would like :) all the best!

[2015-10-12 16:48] #89 closed, assigned to daniel-jonathan

[2015-10-16 16:50] daniel-jonathan opened #90 "Add iCloud Support"

[2015-10-20 02:56] #85 closed, assigned to daniel-jonathan

[2015-10-20 03:05] #88 closed, assigned to daniel-jonathan

[2015-10-25 17:48] #86 closed, assigned to daniel-jonathan

[2015-10-25 18:48] #87 closed, assigned to daniel-jonathan

[2015-11-02 16:21] colindownes opened #91 "Line Chart Crashes if it only has equal values for a line"
I have a chart with a single line
I set startFromZero as true
I set data values to [0,0]

you then get

**\* Terminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer position contains NaN: [20 nan]'

Caused by
- (CGFloat)_positionYForLineValue:(CGFloat)value {
  CGFloat scale = (value - [self _minValue]) / ([self _maxValue] - [self _minValue]);

because ([self _maxValue

[2015-11-02 16:33] daniel-jonathan commented on #91
@colindownes Hey, I think you are looking for this GraphKit library: https://github.com/michalkonturek/GraphKit. Best of luck :)

[2015-11-02 16:33] #91 closed, assigned to nobody

[2015-11-02 16:38] colindownes commented on #91
@danieldahan :) my bad, sorry!

[2015-11-18 18:37] daniel-jonathan opened #92 "Allow GK structures to be stored as properties within Entity, Action, Bonds -> like Array, Set ... etc."

[2015-11-27 01:20] adamdahan opened #93 "Session completionHandlers aren't being called on main thread"

[2015-11-30 22:41] #90 closed, assigned to daniel-jonathan

[2015-11-30 22:41] #92 closed, assigned to daniel-jonathan

[2015-11-30 22:41] #93 closed, assigned to nobody

[2016-02-27 15:24] JARMourato opened #95 "Best way of searching entity."
Hi, first off, I would like to say that I love the concept. I've been using it for a few days and I would like to ask if there is an optimized way that you'd recommend for searching for a specific entity with a specific property. I've been time profiling the app I'm using and for comparing 350 entities that already exist in the Graph, its taking roughly 10 seconds.

[2016-02-27 19:48] daniel-jonathan commented on #95
Thank you! We have big ideas for Graph :)

Hmmm... 10 seconds seems really long. Can you share more about your setup and how you are currently searching?

To search properties fastest, you can pull up the Entities with a given property and value, then filter further. Or you can choose the Type to search by and then filter. For example:

[code]

The search could be combined and more complex. Mainly

[2016-02-28 20:57] JARMourato commented on #95
hey, thanks for the answer. The model I'm using is rather extensive, but for the purpose of the search only one property matters. Imagine an entity of type "Entry" which has a property named "unique". Imagine I have entered 350 unique entries. If I try to re-enter those same 350 entries, I have to check each of the entries I'm trying to add against the whole data base. I was looking for a way to r

[2016-02-29 16:20] daniel-jonathan commented on #95
Graph doesn't support user made indices with unique keys yet. It does though, generate a unique key that can be used externally, or I can show you how to use [Algorithm](https://github.com/CosmicMind/Algorithm), which is a data structure library to achieve what you are looking for in log(n) time.

A unique key feature is something I would be working on very soon.

[2016-02-29 17:16] JARMourato commented on #95
Okay :) How would algorithm apply in this case ? I would run it over the graph ?

[2016-02-29 18:10] daniel-jonathan commented on #95
In Algorithm, there is a data structure called SortedDictionary. It has a key value pair, where the keys are kept sorted and the value is of any type you set. Using that data structure, below is a class called Index that monitors changes in Graph and always manages the collection of Entities that are being uniquely keyed. Keys in a SortedDictionary are kept unique by default.

[code]

To use it, y

[2016-02-29 19:03] JARMourato commented on #95
Awesome!Many Thanks, this is helps me a lot. I Have only a minor doubt, why do you search for key unique with "nil" value in prepare for dictionary ?

[2016-02-29 19:10] daniel-jonathan commented on #95
oh because when the value is set to nil, it searches all value types. You could do this as well,

[code]

where you are saying it is a String and that you wildcard the search. The nil, allows it to be any type. So if you know your keys are String then the `"*"` is good, otherwise `nil` is better. The `nil` is also faster, as it has less comparisons to do. The `"*"` card still has to check String t

[2016-02-29 21:21] daniel-jonathan commented on #95
I am going to close this issue for now, if you have any further questions, please reopen or create a new issue.

Let me know how it worked out.

All the best!

[2016-02-29 21:21] #95 closed, assigned to daniel-jonathan

[2016-03-01 15:28] JARMourato commented on #95
Once I've implemented the solution I'll post my results :) thank for the help

[2016-03-01 15:30] daniel-jonathan commented on #95
There are some tweaks you can make to use the solution across the board. If you need any help, let us know :)

[2016-03-01 15:49] JARMourato opened #96 "Multi-threading with Graph"
Hi guys, while testing your library I've made an app and installed crashlytics so I could track errors. I've come across this stack trace a couple of times now :

I'm using a background thread to get the entity from Graph. So my question is: Is there a recommended way to fetch result from Graph in background threads ? Could it be done concurrently or only serially ?

Thanks for the help.

PS: IMHO

[2016-03-02 15:27] daniel-jonathan commented on #96
Hi :)

Can you share your code you are currently using to make the background request? As for documentation, that is something we would love help with and plan to attack this month.

[2016-03-02 18:34] JARMourato commented on #96
It was my mistake :) was passing a wrong parameter as subscript. Sorry for opening the issue. Still i would like to know if you would recommend one instance of Graph and update it from each thread or multiple Graph instances (the latter seems odd). Example :

[code]

[2016-03-02 19:14] daniel-jonathan commented on #96
Great question. I found that usually people think of connecting to databases through a singleton or some global object. I found that that approach is really bad when it comes to architectural design. So what I recommend, is that each ViewController, or module, have a private reference to graph, that it uses. No need to get anything shared.

In regards to your example code you just shared, you are

[2016-03-02 20:59] JARMourato commented on #96
Yes, it was just to test threading. Thanks for the answer! It seems strange to me have an individual private reference since I'm used to CoreData as is and to the rather abused Objective-C"ish" Singleton (anti)-pattern.

I really think that Graph is going to be very successful. Its simple and powerful!

[2016-03-02 21:12] daniel-jonathan commented on #96
Thank you! We really appreciate it. If you feel this issue is resolved, please close it. If you would like, and I invite you, open more issues with some more interesting questions :)

[2016-03-03 14:51] JARMourato commented on #96
Will do. Changed the title of the issue for future reference. :)

[2016-03-03 14:51] #96 closed, assigned to daniel-jonathan

[2016-03-03 15:43] daniel-jonathan commented on #96
Thank you :)

---

Daniel Dahan

M: +1 647.627.0770
Skype: djondahan

[2016-03-05 06:19] mohpor opened #97 "Need help deciding on Better Handling of Object Types"
Hi again,

Graph does a great job handling everything I need, except, I'm a closed minded developer who needs every object to be immaculate. Anyways, Referring every object I'm working with as `Entity` and pass them around is something I can't get my head around it. Maybe I'm seeing it from a wrong perspective (it's highly likely), but I cannot find a good resource on it.

I tried to overcome this

[2016-03-05 19:13] daniel-jonathan commented on #97
Hi @mohpor,

Really cool that you are experimenting with Graph :) It's also interesting to read about your approach when using it.

Graph is meant to be used in the way that you think. You can make a Wrapper Interface around the Entity instances, which you referred to as the Composite Pattern, or you can use as is. I would recommend a hybrid approach. You may want to make a Factory class for creat

[2016-03-05 19:26] mohpor commented on #97
@danieldahan , Hi,

I Like the hybrid approach, it is practical, but, I hoped there was a way that we didn't have to wrap all functionalities as required and remained a first class citizen in `Graph`, you know what I mean? This way, we're gonna have to adapt to new `Graph` API everytime something changes profoundly and the worst part is, potentially in many class implementations.

Now, how about l

[2016-03-05 19:35] daniel-jonathan commented on #97
Hmmm... I think it would be neat to have an approach to helping Graph be used in the method you are looking for. As mentioned, I use it as is, as I feel it is generic. You pass in types to the Classes that exist in Graph.

Over the month of March, we had planned to really take Graph to the next level. Your suggestion is a good addition to our considerations :)

[2016-03-05 19:39] mohpor commented on #97
I can fashion a PR if it is alright with you guys.

[2016-03-05 19:39] daniel-jonathan commented on #97
Yeah, that would be great. Let's leave this thread open to keep the discussion going.

[2016-03-05 19:40] mohpor commented on #97
Agreed, I'm on it.

[2016-03-05 19:41] daniel-jonathan commented on #97
Great. Thank you, and please send the PR to the development branch.

[2016-03-05 19:48] mohpor commented on #97
Of course.

[2016-03-07 02:44] JARMourato opened #98 "Graph store url"
Hi, is there any plans for providing a way to pass the graph location when creating ? Imagine that I want to share data between an iOS app and a Today Extension, I would have to use a shared container, which means Graph would have to be located there.

How could i do that using Graph ?

[2016-03-07 06:16] mohpor commented on #97
Ok, I need help.
In my quest to do my assignment, I'm facing a concrete wall .

![screen-shot-2016-03-07-at-9 41 58-am](https://cloud.githubusercontent.com/assets/4954588/13562051/0622c3fe-e449-11e5-83d0-97ac4c2496cc.png)

### tl;dr:

To be able to initialize a generic object (subclasses of another object) I need to have `required init` constructors (Swift imposes this). And to make the `init(obje

[2016-03-08 15:08] daniel-jonathan commented on #98
Hey, That isn't something that is available through an API at the moment, but I do like the idea of that flexibility. So let's leave this issue up and I will put it in the next release. If you wanted to do it yourself for now, until the release -- look in the Graph.swift file, and there is a computed property called persistentStoreCoordinator, you can change the location of the store there.

[2016-03-08 15:11] daniel-jonathan commented on #97
Can you explain a little more of what you are doing here and then I can help with a solution?

[2016-03-08 16:05] JARMourato commented on #98
Thanks for the answer. Will do that :)

[2016-03-09 04:25] mohpor commented on #97
I'm trying to instantiate an `Entity` using a generic type (subclasses of `Entity`) because in more than one places we need to insatiate Entities and `init(object: ManagedEntity)` is not going to work for us. For instance at the end of the `searchForEntity(types: groups: properties)` we need to instantiate Entities using either a `ManagedEntity` or a `ManagedObjectID`.

[2016-03-09 16:41] daniel-jonathan commented on #97
So you should never create an Entity using the internal objects. That would create issues. You could do this. In the Entity class, add the required attribute to the initializer:

[code]

Then you can do this:

[code]

[2016-03-12 02:14] daniel-jonathan commented on #97
@mohpor How is this coming along?

[2016-03-12 07:04] mohpor commented on #97
@danieldahan, not so good,
I was busy the past 3 days and could find any time to work on it.

You suggestion was my main approach but it is not enough, because we are not always initiating a new object, sometimes we are initializing it using a `ManagedEntity` for example in search operations, we already have an object, we are just creating an object based on other objects. good thing is, we still

[2016-03-12 10:08] mohpor commented on #97
Well, I managed to wrap my head around a practical way to do it.
I'm guessing I've broken a dozen design patterns here but it is very minimal so to speak.
Swift 1 had a very useful function named `__conversion` in which you could do this flawlessly. I wish it was still possible to use it.
Anyway, it passed the test and I hope you're happy with it.

[2016-03-12 20:04] daniel-jonathan commented on #97
Generally, one should never actually interface with the NSManagedObject, externally that is from Graph, as well, it is not a good idea to provide any direct access to the NSManagedObject, as it creates exposure and thus issues. I think I am losing insight into what we are accomplishing here.

Can you write a Pseudocode example of what would really be the gain in the code changes? Thank you!

[2016-03-13 07:16] mohpor commented on #97
@danieldahan, You're right.
It seems unattainable at the moment.
I'm going to implement a Decorator pattern for my needs.
I think it's safe to close this issue and reject the pull request.
thanks
M.

[2016-03-13 07:16] #97 closed, assigned to daniel-jonathan

[2016-03-13 13:41] daniel-jonathan commented on #97
Great! Thank you for the effort :)

[2016-03-19 12:09] misuqian commented on #98
maybe
NSSearchPathForDirectoriesInDomains(.DocumentDirectory, .UserDomainMask, true).last! as String

[2016-03-19 15:10] daniel-jonathan commented on #98
@misuqian This isn't an issue of getting the location, more so, I believe @JARMourato wants to control the location. This is coming up soon as we make additions to Graph.

[2016-03-19 17:42] JARMourato commented on #98
Yes @danieldahan, you are correct. It's is not an issue, it's an enhancement I suggested @misuqian.

Really looking forward to those additions ;)

[2016-03-20 06:11] daniel-jonathan commented on #98
I will start working on it tomorrow and give you an update or a release based on the outcome :) @JARMourato.

[2016-03-20 15:02] misuqian opened #101 "How can I delete data using graph"

[2016-03-20 15:05] daniel-jonathan commented on #101
The general form is to use the delete method. For example:

[code]

[2016-03-20 15:05] daniel-jonathan commented on #101
If you have any further questions, please reopen or create a new issue. :) All the best!

[2016-03-20 15:05] #101 closed, assigned to daniel-jonathan

[2016-03-20 15:06] misuqian commented on #101
so fast ! THX!!!

[2016-03-20 21:15] daniel-jonathan commented on #98
Hi @JARMourato,

I made an update to Graph, version 1.0.8, where you can now specify the storage location, name, and type. For example:

[code]

These values need to be set prior to using Graph. Once Graph is initialized, these values will have no affect.

I hope this solves your issue. If not, please reopen the issue, or create a new one :)

All the best!

[2016-03-20 21:16] #98 closed, assigned to daniel-jonathan

[2016-03-20 22:01] JARMourato commented on #98
Many thanks @danieldahan  :D

[2016-03-24 02:49] xemacobra commented on #98
I was just about to ask for the same thing and then thought I'd read the previous posted issues first. Thanks. This will be helpful for me as well.

[2016-03-28 18:30] daniel-jonathan opened #102 "iCloud support."
Let's add iCould support.

[2016-04-03 10:06] misuqian opened #103 "How i get conditional sorted entity array"
sortDescriptors?
public func sort(@noescape isOrderedBefore: (Self.Generator.Element, Self.Generator.Element) -> Bool) -> [Self.Generator.Element] ? hot to use it ?

[2016-04-03 16:15] daniel-jonathan commented on #103
The return result of `graph.search...` is an Array<Type>. This allows you to use the `sort` functionality, such as:

[code]

In the above example, you are searching for "User" type Entities and sorting by age. This is really handy, but limited in that you must alway sort the array and compare. If you are looking for a more robust approach, you should look into [Algorithm](https://github.com/Cosmic

[2016-04-03 16:15] #103 closed, assigned to daniel-jonathan

[2016-05-16 21:53] #102 closed, assigned to daniel-jonathan

[2016-05-20 20:01] alessandrocatoni opened #105 "iCloud"
Add iCloud support pleaseeee

[2016-05-20 20:03] daniel-jonathan commented on #105
Perfect! My aim was to have it for the end of May. I will leave this issue up until then.

[2016-05-20 20:12] alessandrocatoni commented on #105
Ok ! Thank's ! You are doing a great job with this library, i am very happy about it and i will mention it in my app
Have a nice day,

[2016-05-20 20:13] daniel-jonathan commented on #105
:) Thank you!

[2016-06-03 16:10] mohpor opened #106 "Rename Entity's Group related functions"
Semantically speaking, Entities should be added to groups, not the other way around.

[2016-06-04 23:37] #106 closed, assigned to daniel-jonathan

[2016-06-04 23:37] daniel-jonathan commented on #105
@alessandrocatoni Will be done this soon :) Sorry for any delays.

[2016-06-05 12:10] misuqian opened #108 "propertySet nil"
i don't know why . sometime propertySet was nil

[code]

[2016-06-05 22:07] daniel-jonathan commented on #108
I am looking into this. Thank you for submitting :)

[2016-06-21 11:45] DaniNico commented on #105
Dear all,
I'm using yours library,
You have done an excellent job but i need to implement the synchronization with icloud to complete my app. Could you please update your project?
Thank you and compliments

[2016-06-21 16:12] daniel-jonathan commented on #105
Hey, I am working on it today :)

[2016-06-22 17:12] daniel-jonathan commented on #105
Hey, an update. I rewrote the internals to support iCloud. What does that mean?

When using iCloud, it is not necessary to save all data to the cloud, and the strategy to save data depends on data type, performance, etc...

So what did I do?

I made it that you can now have as many graphs as you like simultaneously that all store data in the strategy you would like. So some data can go to the clou

[2016-06-22 18:06] alessandrocatoni commented on #105
Ok, thanks!

[2016-06-27 17:30] daniel-jonathan commented on #108
This is now fixed. I will be making a release very soon. Thank you!

[2016-06-27 17:31] daniel-jonathan commented on #105
So before I release this update, I was wondering if any of you @alessandrocatoni or @DaniNico had any suggestions for the Graph API. Thank you!

[2016-06-27 21:04] DaniNico commented on #105
Hi, i can't find a better solution for "API", i think that yours is the best onestly, especially if you Have just tried it and it works correctly. Many thanks

[2016-06-27 21:23] daniel-jonathan commented on #105
Thank you :) The release is very close. I am writing new tests.

[2016-06-27 21:30] DaniNico commented on #105
Very good, when will you publish it?

[2016-06-28 03:23] daniel-jonathan commented on #105
Within the next couple days. I am testing iCloud, making sure it works effectively. I rewrote Graph basically. Sorry for the delays, I ran into some issues I had not anticipated.

[2016-06-28 08:13] DaniNico commented on #105
OK, I look forward to, thanks!

[2016-06-29 19:02] DaniNico commented on #105
hi, i need to know at what timothy work is. Can you please let me know as soon as possible?
many thanks

[2016-06-29 19:02] DaniNico commented on #105
sorry, at what time

[2016-06-29 19:04] daniel-jonathan commented on #105
I am testing the solution. Its a pretty intricate thing, and I don't want to release something that will cause you more errors than benefits. You can follow along the work in the icloud branch. At this point, I am testing iCloud support in an app to see it all work.

[2016-06-29 19:06] DaniNico commented on #105
ok, many thanks. i'm waiting

[2016-06-29 19:07] daniel-jonathan commented on #105
I think the wait is going to be worth it. In my opinion the whole framework just took a leap forward. Once I can get through the tests, it will be all yours to use :) I'll keep you posted.

[2016-06-29 19:11] DaniNico commented on #105
thanks

[2016-07-04 02:43] daniel-jonathan commented on #105
@DaniNico will you be free to test the iCloud solution tomorrow? Thank you!

[2016-07-04 06:25] DaniNico commented on #105
Of course...I'm ready!! Thank you

[2016-07-04 07:25] alessandrocatoni commented on #105
Me too ! Thanks 🙏

Alessandro Catoni
iOS app Developer
Cell. +393285798097
Mail: alessandro.catoni@yahoo.it
Web: Facebook.com/sviluppoAlessandroCatoni

[2016-07-05 14:14] daniel-jonathan commented on #105
I am going to ask for you to test the development branch in a couple hours. I am making one last update. Then we can do a full release of the new version for 1.2.0. You may want to chat with me while we do this on this [Gitter channel](https://gitter.im/CosmicMind/Graph). Thanks for your patience. I rewrote the entire framework.

[2016-07-05 17:03] JARMourato opened #109 "Support Core Data Changes In iOS 10"
Just wondering if you've looked into it and how it will affect Graph

[2016-07-05 17:09] daniel-jonathan commented on #109
I am about to release iCloud support, running a couple final tests. I think these [changes](https://developer.apple.com/library/prerelease/content/releasenotes/General/WhatNewCoreData2016/ReleaseNotes.html) will be wonderful for Graph and I will most likely start updating Graph at the end of the month, with the [Material](https://github.com/CosmicMind/Material) iOS 10 updates. I also rewrote Graph

[2016-07-05 17:11] daniel-jonathan commented on #109
If you would like to be up to date and chat, there is a [Gitter channel](https://gitter.im/CosmicMind/Graph) that I will be available on :)

[2016-07-05 17:11] #109 closed, assigned to daniel-jonathan

[2016-07-06 05:43] daniel-jonathan commented on #108
Hey, this is now available here [1.2.0](https://github.com/CosmicMind/Graph/releases/tag/1.2.0). Thank you!

[2016-07-06 05:43] #108 closed, assigned to daniel-jonathan

[2016-07-06 05:45] daniel-jonathan commented on #105
[1.2.0](https://github.com/CosmicMind/Graph/releases/tag/1.2.0) is now available, and you will want to visit the [Gitter Channel](https://gitter.im/CosmicMind/Graph) to learn how to use iCloud. Ping me when ready. Thank you!

[2016-07-06 05:45] #105 closed, assigned to daniel-jonathan

[2016-07-06 18:55] daniel-jonathan opened #110 "Add JSON parser / Network and exporter for Graph."
This should allow graph to send and receive data through a network and JSON objects.

[2016-07-09 14:55] ghost commented on #110
This would be very welcome :). I had something working a few weeks ago based on your advice in Issue 95  -- but it was a lot of boilerplate. Being able to download and map JSON objects to Entities in the Graph would make aggregating data from multiple API's much easier. Many thanks for looking at this. I'll be a willing tester

[2016-07-09 22:37] daniel-jonathan commented on #110
@DavidELeahy perfect :) Glad this will help.

[2016-07-17 09:28] eonist commented on #110
Would love to see this.

[2016-07-17 09:30] eonist opened #112 "Wikipedia links"
Would love to see some wikipedia links to these subjects:

Relationship Modeling
 Action Modeling For Analytics
 Model With Graph Theory and Set Theory
 Faceted Search API

Or other good links/books

[2016-07-17 14:38] daniel-jonathan commented on #112
I agree :) I am currently reworking Graph's API. I am putting a lot of effort in teaching how to use Graph in many scenarios. So please stay tuned and thank you for your support.

[2016-07-17 17:15] eonist commented on #112
**Relationship Modeling**
https://en.m.wikipedia.org/wiki/Entity–relationship_model

**Action Modeling For Analytics**
https://en.m.wikipedia.org/wiki/Action_model_learning

**Model With Graph Theory**
https://en.m.wikipedia.org/wiki/Graph_theory

**Set Theory**
https://en.m.wikipedia.org/wiki/Set_theory

**Faceted Search**
https://en.m.wikipedia.org/wiki/Faceted_search

[2016-07-17 17:17] daniel-jonathan commented on #112
Awesome! Great resources. There is a new tagging system being added as well :) All will be released in Graph 2

[2016-07-17 21:06] eonist commented on #112
Maby a couple of awesome examples is enough to lure people into using Graph. As opposed to many examples. Easier to maintain as well. Ive previously made an sqlite api: https://github.com/eonist/SqliteEdit  Were I try to explain its use through a table. Databases are tables and github markdown aupports table syntax. Just an idea.

[2016-07-17 21:38] daniel-jonathan commented on #112
Yeah, I plan to have examples that really show how to do cool things and highlight why using Graph is a great choice. I haven't had a chance to do that, so I will be doing it with the latest revisions.

[2016-07-18 10:16] eonist commented on #112
Would be awesome to see Graph in conjunction with Your IOS UI framework. Like some spiffy gifs showing off  semi inteligent list searches etc.

[2016-07-18 10:25] eonist commented on #112
Also what do you think about the analysis of this post : http://stackoverflow.com/a/16149607/5389500

[2016-07-18 17:10] daniel-jonathan commented on #112
My general thinking is that CoreData is the best approach on anything Apple. It really allows a consistent approach to solving problems. My background in databases is over 16 years and I was managing 1 billion hits a day. So I understand databases, and I think the arguments made today against CoreData come from arguments that exist in different development/environment issues.

[2016-07-18 17:39] eonist commented on #112
Well here is to CoreData then 🎉 Hopefully your Graph project can shed some spotlight on CoreData. Other good sources for CoreData are the WWDC videos that apple makes. You should maybe make a section on CoreData in the wiki section of this project?

[2016-07-18 17:42] daniel-jonathan commented on #112
I think you said the best approach, which is to make examples that show how awesome CoreData and Graph are. This is what I will be doing through tutorials, and through an app I am launching for iOS 10.

[2016-07-19 09:32] eonist commented on #112
Sounds good. Have you checked this book: "Chris Eidhof - Core Data" https://www.objc.io/books/core-data/ ?

[2016-07-19 16:47] daniel-jonathan commented on #112
No I haven't. Looks like a good read though :) I am going to make note of the links you shared. For now I am going to close this issue, as it doesn't describe anything to solve. Let's continue this chat on [Gitter](https://gitter.im/CosmicMind/Graph). All the best!

[2016-07-19 16:47] #112 closed, assigned to daniel-jonathan

[2016-09-07 07:52] VitoPietrapertosa opened #114 "duplicate entity after update"
Hi,
when I try to update an antity after searching, this particular entity is duplicated.
This is my code:
`let existElement = graph.searchForEntity(properties: [(key: "username", value: username), ("id", id)]`
`if existElement.count == 1 {

existElement[0]["id"]  = id
existElement[0]["username"] = username
}
graph.async() {  (success: Bool, error: NSError?)  in
 if let error e = error {    do som

[2016-09-09 19:05] daniel-jonathan commented on #114
Hey! I will look into this over the weekend. I have been away, so sorry for any delay. I think it might be a search result issue. Also, please provide the version of Graph you are using. Thank you!

[2016-09-10 07:00] VitoPietrapertosa commented on #114
hi, thank you for replay.
My Version is last version available on gitHub. I'm waiting for your news.

[2016-09-27 20:39] andreadelfante opened #115 "Migration"
Is there a closure or something to perform a migration from an old version to a new one?

[2016-09-29 06:22] daniel-jonathan commented on #115
I will work on that before I release Graph 2 in October :)

[2016-10-04 22:38] lfarah opened #116 "Swift 3 compatibility"
Hey, I'd love to see this lib available in Swift 3 so I can implement it in my project.

Thanks 😄

[2016-10-04 22:45] daniel-jonathan commented on #116
I have updated the library for Swift 3 in the `development` branch. I am also updating the framework for the release of Graph 2, so you will see API changes as you go. That said, it is very stable, aside from the API :) You have full support either way you choose.

[2016-10-04 22:45] #116 closed, assigned to daniel-jonathan

[2016-10-11 00:09] daniel-jonathan opened #117 "Refactor the Watch API."

[2016-10-11 00:09] daniel-jonathan opened #118 "Refactor the Search API."

[2016-10-11 00:12] daniel-jonathan commented on #114
Hey, I have allowed this to slip away. I haven't been able to reproduce the issue, and we are working on Graph 2 which is currently in the development branch. If this issue still persists for you, please reopen or create a new issue. Sorry for the late response on this.

[2016-10-11 00:12] #114 closed, assigned to daniel-jonathan

[2016-10-13 14:47] #118 closed, assigned to daniel-jonathan

[2016-10-14 15:06] #117 closed, assigned to daniel-jonathan

[2016-10-24 18:04] daniel-jonathan opened #119 "When calling the Relationship Array extension for objects and subjects, only return unique Entities."

[2016-10-25 15:27] daniel-jonathan opened #120 "Refactor the subject / object find functions to return dictionary with key to entity pairs."
This is to help optimize search.

[2016-10-25 17:29] #120 closed, assigned to nobody

[2016-10-25 17:29] #119 closed, assigned to nobody

[2016-11-14 01:06] DaniNico opened #121 "iOS 10 issue, where iCloud needs to be outlined on its usage."
Hi, I need the documentation to initialize Graph with iCloud for iOS 10

[2016-11-15 21:16] daniel-jonathan commented on #121
I am working more on this tonight. So should be in yours hands very soon :)

[2016-11-15 23:59] DaniNico commented on #121
Ok, thanks! :)

[2016-11-20 18:00] daniel-jonathan commented on #121
Making an update and then sharing an example project with Graph setup. I realized I could make things a bit more organized. This should be ready tonight. Thanks for you patience.

[2016-11-20 18:46] DaniNico commented on #121
Ok, thank you very much .. I wait

[2016-11-21 02:24] daniel-jonathan commented on #121
I found an issue with iOS 10 and iCloud. I found that it is not persisting. It may be a configuration issue on my part, so I am investigating this. I have already made some updates that make it easier to interact with Graph. This is the highest priority for me now, so I will keep you posted. Thank you!

[2016-11-21 03:08] DaniNico commented on #121
Ok, I hope for your own solution in the shortest time. look forward

[2016-11-21 03:09] daniel-jonathan commented on #121
Thank you!

[2016-11-21 21:19] daniel-jonathan commented on #121
I tested iOS 10 with iCloud and Graph, works perfectly. I will write your note today :) Thank you!

[2016-11-21 21:54] DaniNico commented on #121
Ok, thank!   :)

[2016-11-24 14:01] daniel-jonathan commented on #121
Documentation is now available for [Grpah with iCloud](http://cosmicmind.com/graph/icloud).

[2016-11-24 14:01] #121 closed, assigned to daniel-jonathan

[2017-02-14 13:41] adnbsr commented on #101
@danieldahan `graph.delete()` is no longer available.

[2017-02-14 20:05] daniel-jonathan commented on #101
@adnbsr `graph.delete` should be now `graph.clear`.

[2017-02-14 20:40] adnbsr commented on #101
@danieldahan `graph.clear()` clears all, but I need just for one entity. `entity.delete()` removes entity temporarily. After reopen, data comes again. What should be called after `entity.delete()`?

[2017-02-14 20:50] daniel-jonathan commented on #101
@adnbsr You need to save the change after you make one. `entity.delete()` is a change, so call `graph.sync()` or `graph.async()`.

[2017-02-23 11:02] paoloalby opened #122 "Filter and Contains"
Hi, here's my problem.
I have a "allPlayers" array Entity.
I have a "players" Relationship between a "team" and a "allPlayers" entities.

I want a list of all players that are not in this team yet.

So:
`func availablePlayer(_ team:Entity) -> [Entity] {

        let playersTeam = players.filter { $0.subject == team }.flatMap { [$0.object] }

        let playersAvailable = allPlayers.filter { !play

[2017-02-23 18:52] daniel-jonathan commented on #122
Hey,

I believe you are asking the question on StackOverflow [here](http://stackoverflow.com/questions/42419409/swift-3-graph-filter-and-contains-for-entities). Let me know if the answer works out. If not, please reopen the issue. Thank you!

[2017-02-23 18:52] #122 closed, assigned to daniel-jonathan

[2017-02-27 20:34] swiftsrl opened #123 "Result enum looks like is unused and is in conflict against Alamofire"
at line 134 of File.swift there's an enum that looks like is unused and is in conflict against Alamofire

[code]
can we delete it, or is used somewhere?

[2017-02-27 20:44] daniel-jonathan commented on #123
Hey, nice catch. Please find a fix in [Graph 2.1.2](https://github.com/CosmicMind/Graph/releases/tag/2.1.2). All the best!

[2017-02-27 20:44] #123 closed, assigned to daniel-jonathan

[2017-02-28 13:48] lazarte opened #124 "Watch Entity"
Trying to implement a watch for the Entity. Tried to insert and delete entity but the watch delegate doesn't trigger. Please see below code.

[code]

Can someone give me an example on how to achieve the watch for the specific entity.

[2017-02-28 14:47] daniel-jonathan commented on #124
Hey, take a look at this [sample Watch API project](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/Watch).

Notice how you need to set the `WatchEntityDelegate`

[code]

If you have any further question for this issue, please reopen the issue. Thank you!

[2017-02-28 14:47] #124 closed, assigned to daniel-jonathan

[2017-02-28 14:48] daniel-jonathan commented on #115
Hey, This is really old and I never had a chance to make the migration tool. If there is another major change that requires this, I will add it. For now, I am going to close this issue. Sorry for any inconvenience and thank you :)

[2017-02-28 14:48] #115 closed, assigned to daniel-jonathan

[2017-03-04 01:37] lazarte opened #125 "Best way to search then insert or update"
Hi, what will be the best way to handle searching entity for specific key(unique identifier) if exist do the update for that entity if not then do the insert considering the asynchronous process so that UI will not be block.

Lets say for example I have 10000 documents from the api server each document have unique identifier and I want those documents to be inserted or updated on graph.

[2017-03-07 08:09] jojonarte opened #126 "How do you retrieve what's saved in the Graph?"

[2017-03-07 22:35] daniel-jonathan commented on #126
You would use the `Search` API, which adds search functionality to a given `Graph`. For example:

[code]

And searching for your entity:

[code]

Let me know if you need any further help. All the best!

[2017-03-07 23:21] daniel-jonathan commented on #125
Hey, this is a really good question. The easiest way to approach this code wise is to check for a given identifier before each operation, for example:

[code]

This approach is probably the most expensive approach as you are creating a new Graph instance and Search instance each time, as well as, searching against the datastore directly.

A better approach would be to do an initial search and stor

[2017-03-08 00:57] lazarte commented on #125
Thank you @danieldahan. Yes the app is very stressful with the first approach, the second approach  is much better.

[2017-03-08 00:58] daniel-jonathan commented on #125
Feel free to share you solution if you want more tips :) Please reopen the issue if you need.

[2017-03-08 00:58] #125 closed, assigned to daniel-jonathan

[2017-03-11 11:06] swiftsrl opened #127 "iCloud feature doesn't works for new projects"
Just make a new project, turn on iCloud, make an instance of Graph using the cloud init (where is not clear the purpose of the string you have to pass), make a new record and save the db, and finally setup a search, run it and you'll see the returned array is always empty

[2017-03-14 10:10] lazarte opened #128 "Relationship Deletion"
How can we delete the relationship and their all relationships(subject and object). Seems like when trying to `relationship.delete()` will not delete its Entities(subject and object).

[2017-03-14 17:26] daniel-jonathan commented on #128
Deletion works like this:

When deleting an Entity, all Relationships and Actions are deleted but not the Entities that connected them. When you delete a Relationship or Action, none of the Entities are deleted. The reason for this, is that, Entities are considered the data points that build all the relationships between them, whether that be a direct relationship or action. So if you had books in

[2017-03-14 17:26] #128 closed, assigned to daniel-jonathan

[2017-03-14 17:28] daniel-jonathan commented on #127
I think this might be an issue because of the version of iOS that is being used. Are you using 10.2 when you build a new project?

[2017-03-14 17:32] swiftsrl commented on #127
yes 10.2

[2017-03-14 17:34] daniel-jonathan commented on #127
Okay, I will make a new project and see what the issue is, and if there is one, I will fix it right away :) Thanks for sharing this.

[2017-03-15 02:28] lazarte commented on #128
Hi @danieldahan still its not clear to me how I can proper way to delete the subjects and objects. Please see below code sample code

[code]

What is the best way to delete the Employee and Task Relationship including their subject and object.

[code]

[2017-03-15 02:31] daniel-jonathan commented on #128
Sorry, I edit my answer. I thought of the Relationship as an Action relationship type.

This is the updated code with your code:

[code]

Let me know :)

[2017-03-15 02:32] lazarte commented on #128
What about the Task Relationship?

[2017-03-15 02:36] daniel-jonathan commented on #128
Because `Mark` is part of the `Employee` relationship, when you delete  him as an `object`, his relationships will be deleted, which will delete the `Tasks` relationship, but not the `Facebook` instance of type `Company`.

[2017-03-15 02:51] lazarte commented on #128
So I'm doing this one..

[code]

I want to delete `Employee` relationship and Employee's object `Mark` as well as `Mark` task will give me an error `The operation couldn\U2019t be completed. (Cocoa error 1570.)`.

[2017-03-15 02:58] daniel-jonathan commented on #128
Well this will never change `let relationship = relationships[0]`. Why are you writing that line? You would need to remove the `relationship` from the `relationships` Array for this to work as a dequeue from your Array.

[2017-03-15 03:16] lazarte commented on #128
Actually it was a table list, I need to remove one item when doing a delete. It was a list of relationships of type `Employee` with subject `Company` and object `Person`. The `Person` is also a subject of the relationship `Tasks` with an object of `Task`.  The sample code above shows the relationships. When doing a delete on one row should remove the `Employee` relationship, Employee relationship

[2017-03-15 03:17] daniel-jonathan commented on #128
Ahh... cool :)

[2017-03-24 02:31] troy21688 opened #130 "Links Down"
I am trying to click the sample projects related to the Live SearchBar and it appears the link is down. Any way for me to access? Thanks again.

[2017-03-28 20:04] daniel-jonathan commented on #130
Thank you for submitting this issue. I have corrected it in [Graph 2.1.4](https://github.com/CosmicMind/Graph/releases/tag/2.1.4). The link you are looking for is: [Sample Search Project](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/Search). All the best!

[2017-03-28 20:04] #130 closed, assigned to daniel-jonathan

[2017-03-28 20:06] swiftsrl commented on #127
hello Daniel
news about that?

[2017-03-28 20:15] daniel-jonathan commented on #127
Yes, sorry. I was caught up in some other issues. I will take a look at this today, and aim to have an update by the end of the week, if not earlier. Thank you!

[2017-04-03 00:59] daniel-jonathan commented on #127
Hey, so I have tested this out again and all seems to work. I am not sure what if going on with your project. Can you verify in any way that iCloud is working for you?

I am currently able to sync data between my iPhone 6s and iPad Pro using 10.2.1.

[2017-04-03 15:45] swiftsrl commented on #127
here are the steps:
- New Xcode project
- Turn on iCloud, all is ok (no red dots, no errors, the Entitlement is good)
- Make an instance of Graph:
`db = Graph(cloud: "FantasyName")`
- Put in some data:
[code]
- save the db:
`db.sync()`
- arrange and perform the search:
[code]
- the storage Array is always empty....
so what's wrong with this????

[2017-04-03 16:04] daniel-jonathan commented on #127
Are you doing these steps after the `graphDidPrepareCloudStorage` call?

[2017-04-03 16:21] swiftsrl commented on #127
yes, just tried this:
[code]
the func:
[code]
but the search result is always empty....

[2017-04-03 16:24] daniel-jonathan commented on #127
Okay, the best bet is to send me a sample with it not working, or what you have, and then I can test it. I need to see what is happening here. Thank you!

[2017-04-03 16:27] swiftsrl commented on #127
ok, this is the test
[GraphCloudTest.zip](https://github.com/CosmicMind/Graph/files/890708/GraphCloudTest.zip)

[2017-04-03 16:27] daniel-jonathan commented on #127
Thank you, I will look at this in a few hours :)

[2017-04-03 21:49] swiftsrl commented on #127
Thanks to one of my students I found the bug:
- if you make a record this way everything works fine:
`let record = Entity(type: "Names", graph: self.db)`
- but if you use this init it doesn't:
`let record = Entity(type: "Names")`
see you next trouble :)

[2017-04-03 21:57] daniel-jonathan commented on #127
Yes, that is correct. Because the Entity doesn't know which Graph you are referencing and without it specified, it goes to the default local Graph. Sorry, I didn't catch this earlier.

[2017-04-03 21:57] #127 closed, assigned to daniel-jonathan

[2017-05-10 12:23] marrocmau opened #132 "Multiple parameters used in search fail when using the `.and` search type."
Where can I find some documentation with examples of filters or counters or others?

[2017-05-10 16:20] daniel-jonathan commented on #132
I don't have many at the moment. If you share a scenario with me, I can show you how to approach it.

[2017-05-11 15:37] marrocmau commented on #132
Hi,
i have this relationship case :
 [TRIP] 1-N [USERS]

	    let users1 = Entity(type: Const.USERS)
            users1["name"]="John"
            users1["date"]="08/05/2017"
            users1["image"]="img1"

            let users2 = Entity(type: Const.USERS)
            users2["name"]="Jack"
            users2["date"]="08/05/2017"
            users2["image"]="img2"

            let record1 = En

[2017-05-11 16:35] daniel-jonathan commented on #132
Hey,

Here is a sample based on your original code:

[code]

Hope this helps and feel free to ask more questions :) Reopen the issue if you need. All the best!

[2017-05-17 22:50] marrocmau opened #133 "Search and Order result"
I have this situation and i want search only users (in relationship with Trip) but order by "isBoss" is true

[code]

[2017-05-18 16:45] daniel-jonathan commented on #133
In this case you might want to use Graph slightly differently. You can use groups in this case, where `Boss` is a grouping. This way, you can search for all members that are Bosses, and then check if they have a trip.

[code]

You can also do this:

[code]

If you need any further help, please reopen the issue :) Thank you!

[2017-05-18 16:45] #133 closed, assigned to daniel-jonathan

[2017-05-29 15:29] marrocmau commented on #132
Hi, Is it possible to create N-relationship?
I mean:
Users -> (subscriber="Trip") -> TRIP -> (subscriber="Expense") -> "Exepense"?

This is a example:
[code]

When try to find "exepense" i find nothind.
Can you help me?
thanks

[2017-05-30 07:33] daniel-jonathan commented on #132
Sure I can help. I need to understand more. Why does your `Expense` type subscribe to the `Trip` type? In general, yes, Graph is meant to manage many complex relationships. Also, let's move this conversation to [Graph Gitter](https://gitter.im/CosmicMind/Graph) please. Thank you!

[2017-05-30 08:19] marrocmau commented on #132
Hi,
because i want create something like
<img width="495" alt="screen shot 2017-05-30 at 10 18 06" src="https://cloud.githubusercontent.com/assets/914987/26574354/54b0ce0a-4521-11e7-8823-e2373facc69c.png">

Can I use "group" function to organize all Expense Receipts?
Ex:
[code]

[2017-05-30 12:35] daniel-jonathan commented on #132
You would be better off making an Entity for each Expense and then attach it as a receipt of, not a Subscriber.

`Expense -> Receipt -> (of) Trip <- Subscriber <- User`

I wouldn't use groups in this case.

[2017-05-30 16:27] marrocmau commented on #132
What means "attach it as receipt of" ?

[2017-05-31 03:18] daniel-jonathan commented on #132
Make the relationship between the two. Sorry, I was using different wording, but that is what I meant.

[2017-05-31 13:29] marrocmau commented on #132
Sorry Daniel,
but i have only 3 tables: Users, Trip and Expense (expense represent our Expense Receipt).
I review the code and now i have created another "relationship": ExpenseReceipt
[code]
The result is empty...

Did I do something wrong?

[2017-05-31 17:30] daniel-jonathan commented on #132
I haven't tried your code but try changing your object in your condition to subject. It looks like the Expense is the subject, not object.

[2017-06-01 09:36] marrocmau commented on #132
Hi Daniel,
I modified my code .... I have abandoned the relationships and I tried to use Search<entity> whit properties:
[code]
I would have expected only one record and instead I have this result:
<img width="984" alt="screen shot 2017-06-01 at 11 28 23" src="https://cloud.githubusercontent.com/assets/914987/26673734/37da2efe-46be-11e7-97b6-5333426003ce.png">

the **SearchCondition.and** not work

[2017-06-01 17:17] daniel-jonathan commented on #132
This is really interesting. I tried it and you are right, there seems to be a bug here. I will file this as a bug and fix it up.

[2017-06-02 16:47] daniel-jonathan opened #134 "Add WatchKit support for Graph."
This feature request originally came in as a StackOverflow question: https://stackoverflow.com/questions/44279165/cosmicmind-graph-icloud-watchkit.

[2017-07-05 07:19] lazarte commented on #126
How to retrieve data from search where the query are name=Daniel AND age=33?

[2017-07-05 23:58] daniel-jonathan commented on #126
@lazarte

[code]

I didn't run the code, but this should help.

[2017-07-07 08:08] lazarte commented on #126
Search via parameter is a lot more cleaner but doesn't work. Working with Graph 2.1.2 can you try to check?

[2017-07-07 15:12] daniel-jonathan commented on #126
There is a related bug reported here: https://github.com/CosmicMind/Graph/issues/132, so you can follow this issue :)

[2017-07-15 16:43] CAP-ONE opened #136 "Using subclasses"
I don't see and documentation about this, nor opened issue, so it must be an obvious thing for anyone but I'm still trying to wrap my head around this. I'm using the Search API, according to the sample project, but I want to store my custom object for later reuse.

I've something like :

    var countriesList: [Country]!

    [...]

    for country in countriesList {
       let countryE = Entity(t

[2017-07-15 21:58] daniel-jonathan commented on #136
Graph can store a custom object as a property if that object adheres to the `CoreData TransformableAttributeType`. Give that a try, if it doesn't work, I'd be happy to help you further on [Graph Gitter](https://gitter.im/CosmicMind/Graph). Either way, let me know how it turns out :) Thank you!

[2017-07-15 21:58] #136 closed, assigned to daniel-jonathan

[2017-07-17 08:26] CAP-ONE commented on #136
I posted on the Graph Gitter, it doesn't seems so active compared to Material, since the last message posted is from last March, so just to let you know

[2017-07-17 11:15] daniel-jonathan commented on #136
I saw there is a post, and usually I answer within 24 hours. I'll respond later today:)

[2017-09-20 10:09] karstengresch opened #137 "Swift 4 Support"
Seems that Swift 4 breaks some base framework methods, e.g.

**Graph.swift**
`Graph.init(name: String = GraphStoreDescription.name, type: String = GraphStoreDescription.type)`
Compile errors:
"Static let 'name' is internal and cannot be referenced from a default argument value"
"Static let 'type' is internal and cannot be referenced from a default argument value"
which seems to be related to https

[2017-09-20 13:03] daniel-jonathan commented on #137
Hey :) try the development branch. That should be updated to Swift 4.

[2017-09-20 20:05] karstengresch commented on #137
Hey :)

Thanks, that was fast. You're the man :)

Argh, of course! Perhaps it's useful to add a hint to the installation file/release page that people should add

`pod 'Graph', :git => 'https://github.com/CosmicMind/Graph.git', :branch => 'development'`

to their Podfile respectively

`github "CosmicMind/Graph" "development"`

to their Cartfile if they want to use Swift 4...?

B.t.w. - I can't bui

[2017-09-20 20:06] karstengresch commented on #137
Closing as problem was solved. Thanks Daniel!

[2017-09-20 20:06] #137 closed, assigned to nobody

[2017-09-21 13:44] sterzo opened #138 "Graph 2.1.4 not work with xCode 9.0 -> swift 4"
/Pods/Graph/Sources/Graph.swift:129:54: Static let 'name' is internal and cannot be referenced from a default argument value

/Pods/Graph/Sources/Graph.swift:129:97: Static let 'type' is internal and cannot be referenced from a default argument value

/Pods/Graph/Sources/File.swift:217:134: Cannot convert value of type '[String : Any]?' to expected argument type '[FileAttributeKey : Any]?'

[2017-09-21 14:07] daniel-jonathan commented on #138
Please use the [development](https://github.com/CosmicMind/Graph/tree/development) branch :)

[2017-09-21 14:07] #138 closed, assigned to daniel-jonathan

[2017-09-26 18:41] NicoloCurioni opened #139 "Issues with iCloud to get data from iCloud with Graph"
Hi, I have an issues that I don't know why with my **DataManager.swift** and Graph implementation I can't get **iCloud data**. I don't know why, if an issue of containers of other kind of problem.
[DataManager.zip](https://github.com/CosmicMind/Graph/files/1334488/DataManager.zip)

All Graph implementation is available inside DataManager.swift file.

Thanks... I will wait to get new updates.

[2017-09-27 13:01] #139 closed, assigned to daniel-jonathan

[2017-09-27 15:26] daniel-jonathan commented on #139
@Nicolo1236DevItalia do you need help with this still? Or is it meant to be closed?

[2017-09-27 18:02] NicoloCurioni commented on #139
Thanks, but I have resolved this issue. Thanks but I closed this issues.

Dear Regards, NicoDevItalia

[2017-09-27 18:03] daniel-jonathan commented on #139
Great! Feel free to leave any helpful details for anyone else. Thank you!

[2017-10-10 14:29] multinerd commented on #110
any updates on this?

[2017-10-10 16:49] daniel-jonathan commented on #110
@multinerd I have made some progress on this. I am updating Graph and it's API with an inclusion for this during this month. Sorry for any inconvenience :)

[2017-10-31 13:53] donghd opened #140 "Cannot convert value of type '[FileAttributeKey : Any]?' to expected argument type '[String : Any]?'"
I tried to build Search samples, but I got compile error:

[2017-10-31 17:34] daniel-jonathan commented on #140
Are you using Swift 4? Graph is available in Swift 4 from the latest release.

[2017-10-31 17:39] daniel-jonathan commented on #140
If this continues to be an issue, please reopen this issue. Thank you!

[2017-10-31 17:39] #140 closed, assigned to daniel-jonathan

[2017-11-07 15:49] #126 closed, assigned to daniel-jonathan

[2017-11-17 02:52] Shempaiii opened #141 "Exporting Graph"
Can we export Graph? like for example in CoreData we can get the .sqlite file.

[2017-11-19 19:09] daniel-jonathan commented on #141
Graph creates .sqlite files, so you can export it that way. There isn't a feature yet to export it into another format. That said, we should create an export function that dumps everything to JSON.

[2017-11-20 00:35] Shempaiii commented on #141
Ah I see, Thanks for the reply. :)

[2017-12-09 07:37] sushmakc commented on #138
Hi,

I still get this issue /Pods/Graph/Sources/File.swift:217:134: Cannot convert value of type '[String : Any]?' to expected argument type '[FileAttributeKey : Any]?'

[2018-02-02 15:18] EmilGram2 commented on #110
Update?

[2018-02-03 21:12] daniel-jonathan commented on #110
The JSON parser is available. The networking is not. Soon enough this will be done fully.

[2018-02-08 12:27] siideffect opened #142 "Migrate database from local to cloud with graph"
i would like to implement the cloud feature of graph. I ve searched on cosmicmind site, here on the repo (looking for wiki), and through the issues (closed). I have just learnt that feature is available, but i did not find any documentation.

Considering i am already using graph, in local:

[code]
I would like users could retrieve data from the cloud in case of device upgrade or so. Is there any d

[2018-02-27 22:32] daniel-jonathan commented on #142
Sorry for the delay. I will write you some details by Monday. Thank you!

[2018-02-27 23:31] siideffect commented on #142
No problem. Glad you did not forget me, will wait for it.

[2018-03-14 18:47] siideffect commented on #142
Hello, i have been able to use graph with cloud. The sync works good between my devices, but however, i still did not find a solution to "migrate" a local database declared as
`static var graph = Graph()`
to a cloud instance
`static var graphCloud = Graph(cloud: "DBonthecloud")`
Should i create a new cloud Instance, and add every single entity of my local instance of graph, to the cloud instance?

[2018-03-14 20:29] daniel-jonathan commented on #142
That is pretty much it. As well, you can create many cloud and local instances for your data. Sorry I didn't answer this earlier. I am going to close this issue, and if you have any further questions, please create a new one or reopen this one.

[2018-03-14 20:29] #142 closed, assigned to daniel-jonathan

[2018-03-14 20:30] daniel-jonathan commented on #141
Thank you! I am going to close this for now.

[2018-03-14 20:30] #141 closed, assigned to daniel-jonathan

[2018-03-15 00:24] giuseppe69 commented on #142
@siideffect hi, i'm following the tread because i have the same problem, could I ask you the way to sync with cloud using graph? thank you in advance for any answer.

[2018-03-15 18:50] daniel-jonathan commented on #142
@giuseppe69 Hey! Are you looking for the direct code used?

[2018-03-16 07:50] giuseppe69 commented on #142
Yes, because i don't find the documentation , i'm looking for some example

Il 15 mar 2018 19:50, "Daniel Dahan" <notifications@github.com> ha scritto:

[2018-03-16 13:29] daniel-jonathan commented on #142
Let's move this conversation to https://gitter.im/CosmicMind/Graph and I can help you further.

[2018-07-11 22:51] adamdahan opened #143 "'JSON' is ambiguous for type lookup in this context"
Issues with networked apps stemming from Graph's open class JSON:

- Freddy (popular JSONDecoding library uses JSON class as well) name space collisions.
- Most networked apps utilize some sort of JSON class.

Would be nice if the JSON class could be renamed.

[2018-07-12 14:36] daniel-jonathan commented on #143
Please find your fix in [Graph 2.2.2](https://github.com/CosmicMind/Graph/releases/tag/2.2.2). Thank you!

[2018-07-12 14:36] #143 closed, assigned to daniel-jonathan

[2018-07-28 19:26] karstengresch opened #144 "Feature Request: Make Entity conforming to Codable or offer a"
Hi all, especially Daniel :)

I'm in a need including Entity vars in a struct that conforms to Codable ([as of Swift 4](https://developer.apple.com/documentation/foundation/archives_and_serialization/encoding_and_decoding_custom_types)).

Not sure if that makes sense in regards to the Graph API philosophy, but to me, that'd be useful as I wouldn't need to remodel the Entity's structure.

Thanks fo

[2018-07-30 12:51] daniel-jonathan commented on #144
Hey @karstengresch :)

Happy that you are enjoying Graph. Are you talking about the Swift 4.2 dynamic properties so you don't have to access the API using subscripting? If so, the second I heard about this update... I was like "finally".

[2018-07-30 13:01] OrkhanAlikhanov commented on #144
@danieldahan I think he wants us to make `Entity` type conform to `Codable`. This great idea because swift `struct`s with `Codable` get implicit conformance by the compiler without any need for explicitly conformance to `Codable` by the developer if and only if all struct members conform to `Codable`.

[2018-07-30 17:32] karstengresch commented on #144
@danieldahan @OrkhanAlikhanov Thanks for your replies - @OrkhanAlikhanov is right: I just think of conformance to `Codable`.

This would e.g. allow putting an `Entity` object into a `Codable` conformant `struct` (part of a larger data model) that gets locally persisted as a replacement for `UserDefaults`.

Not sure if this makes sense for you @danieldahan ?

Best wishes,

Karsten

[2018-07-30 23:10] daniel-jonathan commented on #144
@karstengresch Yes it does. I think this should be doable. Let's leave this request up for now and tackle it within the next week, @OrkhanAlikhanov. Thank you!

[2018-08-06 21:28] OrkhanAlikhanov opened #145 "Remove optionals on accessing GraphJSON properties"
[code]
Above can be reduced to:
[code]

We can continue to use `asX` anyways which returns `Optional`

[2018-08-08 00:49] daniel-jonathan commented on #145
Fixed in https://github.com/CosmicMind/Graph/pull/146

[2018-08-08 00:49] #145 closed, assigned to OrkhanAlikhanov

[2018-08-12 19:28] OrkhanAlikhanov opened #148 "GraphJSON write support"
`GraphJSON` is read-only as of now. It should support writing as well.

[code]

[2018-08-12 19:47] OrkhanAlikhanov opened #149 "SearchCondition support for member(of:) and has(tags:)"
`member(of groups: [String])` and `has(tags: [String])` should be able to be queried with `or` and `and` search condition. Just like in Search<T>
[code]

[2018-08-12 21:12] daniel-jonathan commented on #148
Linking this feature request https://github.com/CosmicMind/Graph/issues/110. Let's follow this issue. Closing #110.

[2018-08-12 21:13] daniel-jonathan commented on #110
Let's follow this issue as the feature is being added. https://github.com/CosmicMind/Graph/issues/148

[2018-08-12 21:13] #110 closed, assigned to daniel-jonathan

[2018-08-13 01:22] daniel-jonathan commented on #148
Solved in https://github.com/CosmicMind/Graph/pull/150#pullrequestreview-145496063.

[2018-08-13 01:22] #148 closed, assigned to OrkhanAlikhanov

[2018-08-13 21:11] daniel-jonathan commented on #149
Solved in https://github.com/CosmicMind/Graph/pull/151#pullrequestreview-145835988

[2018-08-13 21:11] #149 closed, assigned to OrkhanAlikhanov

[2018-08-14 17:19] OrkhanAlikhanov commented on #144
@karstengresch in what cases would you use `Entity` as `Codable`? Can you elaborate more on your above example?

[2018-08-15 14:12] daniel-jonathan commented on #144
Base solution is here https://github.com/CosmicMind/Graph/pull/152#pullrequestreview-146460462, although, we have more we would like to add feature wise. We will make a new issue to articulate the new issues.

[2018-08-15 14:20] #144 closed, assigned to daniel-jonathan, OrkhanAlikhanov

[2018-08-16 22:37] OrkhanAlikhanov opened #153 "Review messages"
Review `fatalError` or any other messages before release.

[2018-08-17 07:25] karstengresch commented on #144
@OrkhanAlikhanov, @danieldahan - thanks for making this happen! You guys really rock.

@OrkhanAlikhanov regarding your question: I started using `Codable` instead of `UserDefaults` and want to integrate an entire `Graph` as part of a `struct` which then is persisted via Codable and synchronized via `CloudKit`.

Of course I'm aware there's `GraphJSON` w/ serialization and `Graph` w/ built-in `Cloud

[2018-08-17 15:23] daniel-jonathan commented on #144
@karstengresch Keep the great requests/questions coming and we will work to improve our products :) Thank you!

[2018-08-29 16:05] daniel-jonathan commented on #132
The new `development` branch will have a fix for this. Thank you!

[2018-08-29 16:05] #132 closed, assigned to daniel-jonathan

[2018-09-20 14:40] Giulioo opened #155 "iCloud doesn't sync"
When I launch the app, the database storage isn't synchronizing, but after some other launch, the database is synchronizing correctly.
I'm using iCloud storage, but it doesn't work correctly.
I've enabled iCloud in the capabilities of the project and I use Graph(cloud: "fancyName") to initialize the database and after graphDidPrepareCloudStorage I load all the data.

I didn't found any documentati

[2018-09-20 14:43] daniel-jonathan commented on #155
@Giulioo Can you share your setup?

[2018-09-20 14:54] Giulioo commented on #155
@danieldahan  I'm using Xcode 10, Swift 4.2 and testing on an iPhone 6 on iOS 12 (before on iOS 11)
In the iCloud capabilities is checked only iCloud Documents and it uses the default container, no red warning.

I initialize the database and set its delegate like this:
` database = Graph(cloud: "iCloudContainer", completion: { (success, error) in

            self.database.delegate = self

[2018-09-20 15:06] daniel-jonathan commented on #155
@Giulioo Thank you for that information. @OrkhanAlikhanov and I will test Graph, and see if there are any changes necessary for iOS 12.

[2018-09-20 15:26] Giulioo commented on #155
@danieldahan Great, thank you!
It didn't work well also on iOS 11, maybe I have to configure something else?

[2018-09-20 16:08] daniel-jonathan commented on #155
@Giulioo Generally iCloud is very tricky, and not necessarily the best. I find it slow to update.

[2018-09-20 16:20] Giulioo commented on #155
@danieldahan  Graph with iCloud worked on iOS 11 right? I couldn't find any documentation about how to implement it, so I don't know if I'm doing it right.
In the iCloud capabilities is only checked iCloud Documents, is it right?
Do I have to configure something on the iCloud dashboard for the container?

[2018-09-20 16:22] daniel-jonathan commented on #155
@Giulioo All should work, but let's move this chat to Slack. If you would like, please send your email and name to support@cosmicmind.com, and I can add you to our #opensource channel.

[2018-09-20 16:27] #153 closed, assigned to daniel-jonathan, OrkhanAlikhanov

[2018-09-20 16:29] Giulioo commented on #155
@danieldahan Ok, I'll send the email

[2018-09-20 16:30] daniel-jonathan commented on #155
Thank you, I am closing this issue.

[2018-10-02 15:18] adamdahan opened #157 "Graph cocoapod doesn't compile on mojave."
haseScriptExecution [CP]\ Embed\ Pods\ Frameworks /Users/adamdahan/Library/Developer/Xcode/DerivedData/SlidesMagic-emvmfauqtzdwbmbkoocajpdmpqel/Build/Intermediates.noindex/SlidesMagic.build/Debug/SlidesMagic.build/Script-55AADEECA68DE02ED3F5F3A6.sh (in target: SlidesMagic)
    cd /Users/adamdahan/Desktop/SlidesMagic8V3-Final
    /bin/sh -c /Users/adamdahan/Library/Developer/Xcode/DerivedData/Slide

[2018-10-02 18:37] daniel-jonathan commented on #157
The `development` branch works and will be release soon. It is stable for use. Thank you!

[2018-10-02 18:37] #157 closed, assigned to daniel-jonathan

[2018-12-11 08:17] maximveksler opened #158 "RDF modeling support?"
Hi,

This seems truly great.

Have you considered (and if you have I would love to hear you thoughts on this) buying into the semantic web eco system? (https://github.com/semantalytics/awesome-semantic-web)

[2018-12-11 18:14] daniel-jonathan commented on #158
Hey! We are open to all ideas. I looked at the README, but didn't see anything that clearly showcases what we should consider. May you describe a bit more what your idea would be?

[2019-03-26 14:26] muzoman opened #160 "ManagedNode.swift - breaking change using XCode 10.2 Swift 5 Compiler"
I've set SWIFT_VERSION to 4.2 for the Graph pod but when compiling my workspace I get the following error in ManagedNode.swift line 55:
`Incorrect argument label in call (have 'stringInterpolationSegment:', expected '_cocoaString:')`

The code in question is below. Apple documentation indicates that `String(stringInterpolationSegment:` should not be called directly. I tried amending the parameter

[2019-03-27 01:04] pjebs opened #161 "Alive?"
Is this project still actively being developed or is it stable?

[2019-03-27 01:30] daniel-jonathan commented on #161
Hey @pjebs, it is very stable and very much alive. We are preparing notes for big updates. All the best!

[2019-03-27 01:30] #161 closed, assigned to nobody

[2019-03-27 12:38] OrkhanAlikhanov commented on #161
@pjebs, check out [`development`](https://github.com/CosmicMind/Graph/tree/development) branch it has tons of updates.
[code]

[2019-03-29 07:50] OrkhanAlikhanov commented on #160
Just use `"\(self.nodeClass)"` instead. It passes tests on swift 4.2. Haven't installed swift 5 yet.

[2019-03-30 21:58] OrkhanAlikhanov commented on #160
Hey @muzoman! I've tested the change, it passes all. See #162

[2019-04-03 16:44] daniel-jonathan commented on #160
This is in development. Thanks guys!

[2019-04-03 16:44] #160 closed, assigned to OrkhanAlikhanov

[2019-04-03 16:45] #158 closed, assigned to daniel-jonathan, OrkhanAlikhanov

[2019-05-16 15:37] #134 closed, assigned to daniel-jonathan